/* font-family: 'Anton', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Noto Sans TC', sans-serif;
font-family: 'Noto Serif TC', serif;
*/

h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}

*{
    /* border:1px black solid; */
    font-size: 16px;
    font-family:微軟正黑體; 
    box-sizing: border-box;
    font-weight: bold;
    /* position: relative; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #fff;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-right:1.5rem;
    padding-left:1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    


}

/* margin padding */
.mt-10{
    margin-top: 5rem;
}
.mb-10{
    margin-bottom: 5rem;
}
.pt-10{
    padding-top: 5rem;
}
.pb-10{
    padding-bottom: 5rem;
}

.mt-n4{
    margin-top: -4rem;
}


/* 常用 */
.ls{
    letter-spacing:0.3rem;
}
.ls-2{
    letter-spacing:0.5rem;
}
.tlc{
    text-align: center;
}
.z-1{
    z-index: 1;
}

/* 字型 */
.fontstyleTitle{
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
    font-weight: 800;

}
.fontstyle2{
    
    font-family:'Noto Sans HK', sans-serif;
    font-weight: 800;
    
}
.fontstyle3{
    font-family: 'Noto Sans HK';
}





/* 背景顏色 */
.bcr{
    background-color: #e75635;
}
.bco{
    background-color: #ef7c25;
}



/* 字體大小 */
.fontsizeBig{
    /* font-size: 270px; */
    font-size: 14rem;
    white-space: nowrap;
}
.fontsizeTitle{
    /* font-size: 130px; */
    font-size: 8rem;
}
.fontsizeTitle2{
    /* font-size: 80px; */
    font-size: 5rem;
}
.fontsizeLarge{
    font-size: 4rem;
}
.fontsizeMiddle{
    font-size: 3rem;
}
.fontsizeMs{
    font-size: 2.4rem;
}
.fontsizeSmall{
    font-size: 2rem;
}
.fontsizeMin{
    font-size: 1rem;
}
.fontsizePro{
    font-size: 0.8rem;
}
.fontsizePro1{
    font-size: 1rem;
    padding: 5px;
}
.fontsizePro2{
    font-size: 2rem;
}


/* 字顏色 */
.fontcolorBrown{
    color: #50331c;
}
.fontcolorLightBrown{
    color: #705b3d;
}

.fontcolorWhite{
    color: #fff;
}
.fontcolorBlack{
    color: #000;
}
.fontcolorBlacklight{
    color: #08232f;
}
.fontcolorGray{
    color: #424142;
}
.fontcolorBlue{
    color: #2162af;
}
.fontcolorBluegreen{
    color: #105d83;
}

.fontcolorOrange{
    color: #f08826;
}
.fontcolorYellow{
    color: #f5ac20;
}
.fontcolorRed{
    color: #8d2222;
}
.fontcolorRedlight{
    color: #c4191f;
}
.fontcolorRedlight{
    color: #c4191f;
}
.fontcolorOrangebark{
    color: #e75635;
}



/* 。 */
/* 字體邊框改良 */
.strokeBrown::before{
    content: attr(data-storke);
}
.strokeBrown::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 0.7rem #50331c;
    white-space: nowrap;
}

.strokeWhite::before{
    content: attr(data-storke);
}
.strokeWhite::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 0.7rem #fff;
    white-space: nowrap;
}

.strokeGreen::before{
    content: attr(data-storke);
}
.strokeGreen::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 0.7rem #3d4a24;
    white-space: nowrap;
}

.strokeBlack::before{
    content: attr(data-storke);
}
.strokeBlack::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 0.7rem #000;
    white-space: nowrap;
}

.stroke::before{
    content: attr(data-storke2);
}
.stroke::before {
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 0.7rem #000;
}





/* 字邊框 */
.fontstrokeWhite{
    -webkit-text-stroke: 0.1rem #fff;
}
.fontstrokebrown{
    -webkit-text-stroke: 0.3rem #50331c;
}
.fontstrokeGreen{
    -webkit-text-stroke: 0.2rem #3d4a24;
}
.fontstrokeBlack{
    -webkit-text-stroke: 0.2rem #000;
}


/* 字陰影 */
.fontshadow{
    text-shadow:4px 5px 3px #33333350;
}

/* 圖片rwd */
img{
    max-width: 100%;
}




section {
color:#fff;
}



/* section backgorundimg */
.bc01{
background-image: url(./pic/sec01_bgi.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc02{
background-image: url(./pic/sec02/sec02_bgi.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc03{
background-image: url(./pic/sec03/sec03_bgi2.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;

}
.bc04{
background-image: url(./pic/sec04/SVG/sec04_bgi.svg);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc05-1{
background-image: url(./pic/sec05/sec05-1_bgi_1.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc05-2{
background-image: url(./pic/sec05/sec05-2_bgi.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc07{
background-image: url(./pic/sec07/sec07_bgi.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc09{
background-image: url(./pic/sec09/sec09_bgi.png);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc10{
background-image: url(./pic/sec10/sec10_bgi-20.jpg);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.bc10-2{
background-image: url(./pic/sec10/sec10_bgi2.png);
background-size: contain;
background-position: top center;
background-repeat: no-repeat;
transform: scale(1.1);
}



/* 字在圖中 */
.position-relative {
position: relative;
}
.position-absolute {
position: absolute;
}
.d-inline-block {
display: inline-block;
}
.imgset {
height: auto;
display: block;
}
.soldout {
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
white-space: nowrap;
}


/* 定位 */
.movetop{
    margin-top: -10rem;
    z-index: 1;
}
.movetop2{
    margin-top: -8rem;
    margin-right: -35%;
}
.movetop3{
    margin-bottom: -3rem;
    margin-top: -4rem;
}
.movetop4{
    margin-bottom: -4rem;
    margin-right: -15rem;
}
.movetop5{
    margin-top: -100px;
    margin-left: -250px;
}

.inline{
margin:0;
padding: 10px 100px;

}
.text-style{
display:flex;
align-items: center;
justify-content: center;
border-radius:100px;
background-color: orange;
}
.text-style2{
display:flex;
align-items: center;
justify-content: center;
border-radius:20px;
background-color: #fff;
}
.text-style3{
display:flex;
align-items: center;
justify-content: center;
width: 100%;
border-radius:1rem;
background-color: #fff;
}

/* image 樣式rwd調整*/
.sec01_logo{
    width: 45%;
}
.sec01_cir{
    width: 65%;
}
.sec01_bg2{
    width: 26%;
}
.sec01_img{
    width: 1000px;
    border-radius: 20px;
    box-shadow: 3px 5px 10px #444444;
    text-align: center;
}
.sec02_icon{
    background-color: #fff; border-radius: 100%;
    width: 14rem;
}
.sec04_text{
    width: 80%;
}
.sec04_icon{
    width: 5rem;
}
.star{
    width: 4rem;
}
.sec06_icon{
    width: 15rem;
    margin: 0 3rem;
}


/* sec3 */
.list{
    background-color: #f5b319;
    border-radius: 10px;
}

/* sec5-1 */
.boxStyle{
    background-color:#f5b319;
    box-shadow: 3px 5px 10px #444444;
    border-radius: 0px 0px 40px 0px;
}
.boxStyle0{
    background-color:#0b5087;
    box-shadow: 3px 5px 10px #444444;
    border-radius: 0px 0px 40px 0px;
}
.boxStyle2{
    width: 90%;
    background-color:#cecdd5;
    box-shadow: 3px 5px 10px #444444;
    border-radius: 20px;
}
.boxStyle3{
    width: 90%;
    background-color:#cecdd5;
    box-shadow: 3px 5px 10px #444444;
    border-radius: 20px;
}
.boxStyle4{
    display: inline-block;
    padding: 1rem 2rem;
    background-color:#dc7e1c;
    box-shadow: 10px 10px 0px #fff;
    border-radius: 20px;
    margin:0rem 2rem;
}
.boxStyle5{
    box-shadow: 3px 5px 10px #444444;
}
.boxStyle6{
    padding:1rem;
    background-color: #f5b319;
    border: 1rem solid #fff;
    border-radius: 1.5rem;

}
.boxStyle7{
    padding:1rem;
    background-color: #095a87;
    border: 1rem solid #f5b319;
    border-radius: 100px;
}
.boxStyle7:hover{
    background-color: #ce2523;

}
.boxStyle8{
    box-shadow: 2px 3px 5px #33333350;

}
.pro03Width{
    width: 20%;;
}
.sec11 a:hover{
    color: #ce2523 ;
}

/* 動畫 */
#btnByt{
    background: #095a87;
    animation: mymove 1s infinite;

}
@keyframes mymove{
    from{ background-color:#095a87;}
    to{background-color:#f5b319;}
    to{background-color:#ce2523;}
    
}

.dis1{
    display: block;
}
.dis2{
    display: none;
}

@media(max-width:992px){
    *{
        font-size: 12px;
    }
}

@media(max-width:768px){
    *{
        font-size: 9px;
    }
    .fontsizePro1{
        font-size: 12px;
        /* 產品一  */
    }
}

@media(max-width:680px){
    *{
        font-size: 8px;
    }
    .pro03Width{
        width: 50%;
    }
    .dis1{
        display: none;
    }
    .dis2{
        display: block;
    }
    .fontsizePro{
        font-size: 2rem;
    }
    

}

@media(max-width:576px){
    *{
        font-size: 8px;
    }
    
    

   
}

@media(max-width:480px){
    *{
        font-size: 6px;
    }

}
@media(max-width:414px){
    *{
        font-size: 5px;
    }

}
@media(max-width:360px){
    *{
        font-size: 4px;
    }

}
